<% content_for(:title) %>
<div class='static-pages-lp'>
  <div class='static-pages-cover'>
    <%= image_tag 'top_img.jpg', class: "lp-photo" %>
    <div class='lp-container'>
      <div class='row'>
        <div class='col-sm-6'>
          <div class='lp-item'>
            <div class='text-center font-weight-bold'>
              <p>ラーメンを愛する人々へ</p>
              <p>求める麺がきっと見つかる</p>
              <h2>Ramen Tour</h2>
            </div>
          </div>
        </div>
        <% if current_user %>
        <div class='col-sm/6 d-flex align-items-center'>
          <div class='lp-item'>
            <div class='text-center font-weight-bold'>
              <%= link_to ramen_stores_path, class: 'btn btn-success mr-2' do %>
              <i class='fas fa-table fa-fw'></i>
              <span>店舗一覧</span>
              <% end %>
            <hr>
              <%= link_to search_ramen_stores_path, class: 'btn btn-success mr-2' do %>
              <i class='fas fa-search fa-fw'></i>
              <span>見つける</span>
              <% end %>
              <%= link_to rank_ramen_stores_path, class: 'btn btn-success' do %>
              <i class='fas fa-crown fa-fw'></i>
              <span>ランキング</span>
              <% end %>
            </div>
          </div>
        </div>
        <% else %>
        <div class='col-sm-6 d-flex align-items-center'>
          <div class='lp-item'>
            <div class='text-center font-weight-bold'>
              <%= link_to 'かんたんログイン', users_guest_sign_in_path, class: 'btn btn-success', method: :post %>
            <hr>
              <%= link_to  new_user_session_path, class: 'btn btn-success mr-2' do %>
                <i class='fas fa-sign-in-alt fa-fw'></i>
                <span>ログイン</span>
              <% end %>
              <%= link_to  new_user_registration_path, class: 'btn btn-success' do %>
                <i class='fas fa-user-plus fa-fw'></i>
                <span>新規登録</span>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
<!--サービス紹介-->
  <div class='container'>
    <div class='text-center'>
      <h1 class='title my-5'>Rame Tourとは</h1>
      <h4 class='title mb-5'>一押しの自慢店をみんなに共有したい人のためのレビューサイトです。</h4>
    </div>
    <div class='row'>
      <div class='col-md-4 text-center'>
        <i class='fas fa-edit fa-fw fa-3x mb-3'></i>
        <h3>リアルなレビュー</h3>
        <p>店舗の感想を評価付きでレビューできます</p>
      </div>
      <div class='col-md-4 text-center'>
        <i class='fas fa-search fa-fw fa-3x mb-3'></i>
        <h3>探せる</h3>
        <p>地域や条件に合わせた検索が可能です</p>
      </div>
      <div class='col-md-4 text-center'>
        <i class='fas fa-crown fa-fw fa-3x mb-3'></i>
        <h3>ランキング</h3>
        <p>点数やレビューの数ごとにランキングで表示</p>
      </div>
    </div>
    <!--最新の登録店舗-->
    <h2 class='text-center my-5'>新しく登録されたお店</h2>
    <div class="pt-3">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <% if @recent_ramen_stores.present? %>
              <%= render @recent_ramen_stores %>
            <% else %>
              店舗がまだありません
            <% end %>
          </div>
        </div>
      </div>
      <div class='text-center mt-3'>
        <%= link_to  ramen_stores_path, class: 'btn btn-success' do %>
          <i class='fas fa-user-plus fa-fw'></i>
          <span>お店をもっとみたい!!</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
