<%= form_with model: [@ramen_store, @ramen_store_review], url: ramen_store_reviews_path,  local: true do |f| %>
<%= render partial: "shared/error_messages", locals: { ramen_store: @ramen_store_review } %>
<div class="form-group">
  <%= f.label :title, "タイトル ※必須" %>
  <%= f.text_field :title, class: "form-control", required: true, autofocus: true %>
</div>
<div class="form-group">
  <%= f.label :content, "レビュー ※必須" %>
  <%= f.text_area :content, class: "form-control", rows: 5, required: true, autofocus: true %>
</div>
<%= f.fields_for :ramen_store_review_images do |i| %>
  <div class="form-inline">
    <div class="form-group col-6">
      <%= i.label :name, "写真の名前"%>
      <%= i.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group col-6">
      <%= i.label :image, "写真"%>
      <%= i.file_field :image, class: "form-control", accept: "image/jpg,image/gif,image/jpeg,image/png" %>
    </div>
  </div>
<% end %>
<%= f.submit "レビューを投稿する", class: "btn btn-primary btn-block mt-5" %>
<% end %>