<%= link_to "戻る", ramen_store_path(@ramen_store), class: "btn btn-primary" %>
<%= link_to "編集する", edit_ramen_store_review_path, class: "btn btn-primary" %>
<%= link_to "削除する", ramen_store_review_path, method: :delete, class: "btn btn-primary", data: { confirm: "本当に削除しますか？" } %>

<table class="table table-bordered mt-3", style="table-layout:fixed;width:100%;">
  <tr><th><%= link_to "#{@ramen_store_review.title}", ramen_store_review_path(@ramen_store_review) %></th><td><%= "作成: #{@ramen_store_review.created_at.to_s(:datetime_jp)} / 更新:  #{@ramen_store_review.updated_at.to_s(:datetime_jp)}" %></td></tr>
  <tr><th colspan="2">レビュー</th></tr>
  <tr><td colspan="2"><%= simple_format(@ramen_store_review.content) %></td></tr>
  <tr><th colspan="2">写真</th></tr>
  <% @ramen_store_review.images.each do |review| %>
    <% if review.image? %>
      <tr><td><%= review.name %></td><td><%=image_tag review.image.url(:thumb100) %></td></tr>
    <% else %>
      <tr><td colspan="2", class="text-center">写真は投稿されていません</td></tr>
    <% end %>
  <% end %>
  <tr><td>タグ</td>
  <td><% @ramen_store_review.tag_list.each do |tag| %>
    <span class="badge badge-primary mr-1 p-2"><%= link_to tag, ramen_stores_path(tag_name: tag), class: "text-white" %></span>
  <% end %></td></tr>
</table>