<% content_for(:title, @ramen_store_review.title) %>
<div class="container">
  <div class="row mt-4">
    <div class="review-wrapper mx-auto">
      <div class="row reviews mt-4">
        <div class="col-md-2 offset-md-1 mt-3 pl-4">
          <div class="text-center">
            <%= link_to user_path(@ramen_store_review.user) do %>
              <%= image_tag @ramen_store_review.user.image.url, size: '80x80', class: 'rounded-circle' %>
              <div class="pt-2"><%= @ramen_store_review.user.nickname %></div>
              （<%= @ramen_store_review.user.sex %>）
            <% end %>
          </div>
        </div>

        <div class="col-md-8 mt-2 review-content">
          <%= link_to ramen_store_review_path(@ramen_store_review, ramen_store_id: @ramen_store_review.ramen_store_id) do %>
          <div class="balloon">
            <p><%= @ramen_store_review.created_at.to_s(:datetime_jp) %></p>
            <p class="relative-star">
              <%= image_tag 'mid-star.png' %>
              <span class="pt-5"> | <%= @ramen_store_review.title %></span>
              <% if Rate.find_by(rater_id: @ramen_store_review.user_id, rateable_id: @ramen_store_review.ramen_store_id) %>
              <span class="rank-star">
                <%= Rate.find_by(rater_id: @ramen_store_review.user_id, rateable_id: @ramen_store_review.ramen_store_id).stars %>
              </span>
              <% else %>
                <span class="no-star">
                  未評価
                </span>
              <% end %>
            </p>
            <%= simple_format(@ramen_store_review.content) %>
          </div>
          <% end %>
        </div>

        <div class="col-md-12 mt-1 pl-4">
          <% @ramen_store_review.images.each do |review_img| %>
            <div class="review-img mr-3">
              <%= image_tag review_img.image.url, size: '100x100' %>
              <div class="text-center mt-2"><%= review_img.name %></div>
            </div>
          <% end %>
        </div>
        <div class="col-md-12 mt-3 pl-4">
          <div class="tag_list pb-2"><% @ramen_store_review.tag_list.each_with_index do |tag, index| %>
            <span class="badge badge-primary mr-1 mb-1 p-2"><%= link_to tag, ramen_stores_path(tag_name: tag), class: "text-white" %></span>
            <% break if index == 4 %>
            <% end %>
          </div>
        </div>
        <div class="col-md-12 text-right">
          <% if current_user.own?(@ramen_store_review) %>
            <div class="lg-btn">
              <%= link_to "レビューを編集", edit_ramen_store_review_path(@ramen_store_review, ramen_store_id: @ramen_store_review.ramen_store_id), class: "btn btn-outline-success mr-2", data: {"turbolinks" => false} %>
              <%= link_to "レビューを削除", ramen_store_review_path(@ramen_store_review, ramen_store_id: @ramen_store_review.ramen_store_id), method: :delete, class: "btn btn-outline-danger", data: { confirm: "本当に削除しますか？" } %>
            </div>
            <div class="sm-btn">
              <%= link_to "編集", edit_ramen_store_review_path(@ramen_store_review, ramen_store_id: @ramen_store_review.ramen_store_id), class: "btn btn-outline-success mr-2", data: {"turbolinks" => false} %>
              <%= link_to "削除", ramen_store_review_path(@ramen_store_review, ramen_store_id: @ramen_store_review.ramen_store_id), method: :delete, class: "btn btn-outline-danger", data: { confirm: "本当に削除しますか？" } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
