<%= search_form_for @q, url: search_ramen_stores_path do |f| %>
  <div class="row pb-4">
    <div class="col-md-9">
      <div class="row">
          <div class="col-md-4 text-center">
            <p>キーワードで検索：</p>
          </div>
          <div class="col-md-8 mb-4">
            <%= f.search_field :ramen_store_cont, class: 'form-control mb-3', placeholder: '店名や最寄り駅などで検索してみよう！' %>
            <%= f.search_field :menus_name_cont, class: 'form-control mb-3', placeholder: 'メニューで検索してみよう！' %>
          </div>
          <div class="col-md-4 text-center">
            <p>都道府県で検索：</p>
            <small>（市町村まで選択してください）</small>
          </div>
        <div class="col-md-8">
          <%= form_tag(ramen_stores_path, method: "get") do %>
            <select id="pref", name="q[store_pref_cont]" class="form-control mb-3"><option value="">都道府県を選択してください</option></select>
            <select id="select-city", name="q[store_address_cont]" class="form-control"><option value="">市区町村を選択してください</option></select>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3 d-flex align-items-end mt-5">
      <%= f.submit '検索', class: 'btn btn-primary btn-block' %>
    </div>
  </div>
<% end %>

<script>
// 都道府県フォーム生成
$(function() {
  $.getJSON('/pref_city.json', function(data) {
    for(var i=0; i<47; i++) {
      var code = i+1;
      code = ('00'+code).slice(-2); // ゼロパディング
      $('#pref').append('<option value="'+code+'">'+data[i][code].pref+'</option>');
    }
  });
});
// 都道府県メニューに連動した市区町村フォーム生成
$('#pref').on('change', function() {
  $('#select-city option:nth-child(n+2)').remove(); // ※1 市区町村フォームクリア
    var select_pref = ('00'+$('#pref option:selected').val()).slice(-2);
    var key = Number(select_pref)-1;
    $.getJSON('/pref_city.json', function(data) {
      for(var i=0; i<data[key][select_pref].city.length; i++){
        $('#select-city').append('<option value="'+data[key][select_pref].city[i].name+'">'+data[key][select_pref].city[i].name+'</option>');
      }
  });
});
</script>