<%= search_form_for @q, url: search_ramen_stores_path do |f| %>
  <div class="row pb-4">
    <div class="form-row mx-auto">
      <div class="col-3">
        <%= f.search_field :ramen_store_cont, class: 'form-control mb-3', placeholder: '店名・最寄り駅など' %>
      </div>
      <div class="col-3">
        <%= f.search_field :menus_name_cont, class: 'form-control mb-3', placeholder: 'メニュー' %>
      </div>
      <div class="col">
        <%= form_tag(ramen_stores_path, method: "get") do %>
        <select id="pref", name="q[store_pref_cont]" class="form-control mb-3"><option value="">都道府県を選択</option></select>
      </div>
      <div class="col">
        <select id="select-city", name="q[store_address_cont]" class="form-control"><option value="">市区町村を選択</option></select>
        <% end %>
      </div>
      <div class="col-1">
        <%= f.submit '検索', class: 'btn btn-primary btn-block' %>
      </div>
    </div>
  </div>
<% end %>

<script>
// 都道府県フォーム生成
$(function() {
  $.getJSON('/pref_city.json', function(data) {
    for(var i=0; i<47; i++) {
      var code = i+1;
      code = ('00'+code).slice(-2); // ゼロパディング
      $('#pref').append('<option value="'+code+'">'+data[i][code].pref+'</option>');
    }
  });
});
// 都道府県メニューに連動した市区町村フォーム生成
$('#pref').on('change', function() {
  $('#select-city option:nth-child(n+2)').remove(); // ※1 市区町村フォームクリア
    var select_pref = ('00'+$('#pref option:selected').val()).slice(-2);
    var key = Number(select_pref)-1;
    $.getJSON('/pref_city.json', function(data) {
      for(var i=0; i<data[key][select_pref].city.length; i++){
        $('#select-city').append('<option value="'+data[key][select_pref].city[i].name+'">'+data[key][select_pref].city[i].name+'</option>');
      }
  });
});
</script>