<%= form_with model:@ramen_store, local: true do |f| %>
<% if @ramen_store.errors.any? %>
    <div id="error_explanation">
      <h2><%= @ramen_store.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @ramen_store.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name, "店名 ※必須" %>
    <%= f.text_field :name, class: "form-control", placeholder: "例：麺屋○○", required: true, autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.label :postcode, "郵便番号(「半角数字、-」で入力)  ※必須" %>
    <%= f.text_field :postcode, class: "form-control", placeholder: "例：123-1234", required: true, autofocus: true %>
  </div>
  <div class="form-inline pb-3">
    <div class="form-group col-2">
      <%= f.label :prefecture_id, "都道府県"%>
      <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name %>
    </div>
    <div class="form-group col-3">
      <%= f.label :city, "市町村" %>
      <%= f.text_field :city, class: "form-control", required: true, autofocus: true %>
    </div>
    <div class="form-group col-4">
      <%= f.label :address, "丁・番地 ※必須" %>
      <%= f.text_field :address, class: "form-control" ,required: true, autofocus: true %>
    </div>
    <div class="form-group col-3">
      <%= f.label :building, "建物" %>
      <%= f.text_field :building, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone_number, "電話番号(「半角数字、-」で入力)  ※必須" %>
    <%= f.text_field :phone_number, class: "form-control", placeholder: "例：0123-12-1234", required: true, autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.label :sale, "営業時間 ※必須"%>
    <%= f.text_field :sale, class: "form-control", placeholder: "例：11:00 〜 23:00" , required: true, autofocus: true%>
  </div>
  <div class="form-group">
    <%= f.label :holiday, "定休日 ※必須"%>
    <%= f.text_field :holiday, class: "form-control", placeholder: "例：毎週月曜日, 第2水曜日、 など", required: true, autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.label :seat, "席数 ※必須"%>
    <%= f.text_field :seat, class: "form-control", placeholder: "例：カウンター10席", required: true, autofocus: true %>
  </div>
  <div class="form-group">
    <%=f.label :access, "アクセス ※必須"%>
    <%= f.text_field :access, class: "form-control", placeholder: "例：○○駅から徒歩10分", required: true, autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.label :parking_space, "駐車場 ※必須" %>
    <%= f.text_field :parking_space, class: "form-control", placeholder: "例：駐車場無し(近くにコインパーキングあり)、 など", required: true, autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.label :sns, "SNS ※必須" %>
    <%= f.text_field :sns, class: "form-control", placeholder: "無ければ「無し」と記入", required: true, autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.label :content, "説明 ※必須"%>
    <%= f.text_area :content, class: "form-control", rows: 5, placeholder: "自由に入力してください", required: true, autofocus: true %>
  </div>
  <%= f.fields_for :ramen_store_menus do |m| %>
  <div class="form-inline pb-3">
    <div class="form-group col-6">
      <%= m.label :name, "メニュー ※必須" %>
      <%= m.text_field :name, class: "form-control", required: true, autofocus: true %>
    </div>
    <div class="form-group col-6">
      <%= m.label :price, "金額 ※必須" %>
      <%= m.text_field :price, class: "form-control" ,required: true, autofocus: true %>
    </div>
  </div>
  <% end %>
  <%= f.fields_for :ramen_store_user_images do |i| %>
  <div class="form-inline pb-3">
    <div class="form-group col-6">
      <%= i.label :name, "写真の名前" %>
      <%= i.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group col-6">
      <%= i.label :image, "写真" %>
      <%= i.file_field :image, class: "form-control", accept: "image/jpg,image/gif,image/jpeg,image/png" %>
    </div>
  </div>
  <% end %>
  <div class="form-group">
    <%= f.label :tag_list, "タグ(「,」で区切って入力)  ※必須" %>
    <%= f.text_field :tag_list, value: @ramen_store.tag_list.join(','), class: "form-control", placeholder: "人気店,こってり,駅近、など" ,required: true, autofocus: true %>
  </div>
  <%= f.submit "店舗を更新する", class: "btn btn-primary btn-block mt-5" %>
<% end %>

<script>
	$(function () {
		$('#ramen_store_postcode').jpostal({
			postcode : [
				'#ramen_store_postcode'
			],
			address : {
				'#ramen_store_prefecture_id'  : '%3',
        '#ramen_store_city'  : '%4%5',
        '#ramen_store_address' : '%6',
        '#ramen_store_building' : '%7'
			}
		});
	});
</script>