<% content_for(:title, '店舗一覧') %>
<p><%= link_to "ラーメン投稿", new_ramen_store_path, class: "btn btn-primary" %></p>

<% @ramen_stores.each do |ramen_store| %>
<table class="table table-bordered", style="table-layout:fixed;width:100%;">
  <tr><th><%= link_to "#{ramen_store.name}(#{ramen_store.prefecture.name}#{ramen_store.city}#{ramen_store.address}#{ramen_store.building})", ramen_store_path(ramen_store) %></th><td><%= "作成: #{ramen_store.created_at.to_s(:datetime_jp)} / 更新:  #{ramen_store.updated_at.to_s(:datetime_jp)}" %></td></tr>
  <tr><td>電話番号</td><td><%= ramen_store.phone_number %></td></tr>
  <tr><td>営業時間</td><td><%= ramen_store.sale %></td></tr>
  <tr><td>定休日</td><td><%= ramen_store.holiday %></td></tr>
  <tr><td>席数</td><td><%= ramen_store.seat %></td></tr>
  <tr><td>アクセス</td><td><%= ramen_store.access %></td></tr>
  <tr><td>駐車場</td><td><%= ramen_store.parking_space %></td></tr>
  <tr><td>SNS</td><td><%= ramen_store.sns %></td></tr>
  <tr><td>説明</td><td><%= ramen_store.content %></td></tr>
  <tr><th colspan="2">メニュー</th></tr>
  <% ramen_store.menus.each do |menu|%>
    <tr><td><%= menu.name %></td><td><%= menu.price %></td></tr>
  <% end %>
  <tr><th colspan="2">写真</th></tr>
  <% ramen_store.registered_images.each do |image|%>
    <% if image.image? %>
      <tr><td><%= image.name %></td>
      <td><%= image_tag image.image.url(:thumb100) %></td></tr>
    <% else %>
      <tr><td colspan="2", class="text-center">写真はまだ投稿されていません</td></tr>
      <% break %>
    <% end %>
  <% end %>
  <tr><td>タグ</td>
  <td><% ramen_store.tag_list.each do |tag| %>
    <span class="badge badge-primary mr-1 p-2"><%= tag %></span>
  <% end %></td>
  </tr>
</table>
<% end %>
<%= paginate @ramen_stores %>