<p><%= link_to "ラーメン投稿", ramens_new_path, class: "btn btn-primary" %></p>

<% @ramen_stores.each do |ramen_store| %>
<table class="table table-bordered">
  <tr><th colspan="2"><%= ramen_store.name %></th></tr>
  <tr><td>営業時間</td><td><%= ramen_store.sale %></td></tr>
  <tr><td>場所</td><td><%= ramen_store.address %></td></tr>
  <tr><td>駐車場</td><td><%= ramen_store.parking_space %></td></tr>
  <tr><td>電話番号</td><td><%= ramen_store.phone_number %></td></tr>
  <tr><td>SNS</td><td><%= ramen_store.sns %></td></tr>
  <tr><td>説明</td><td><%= ramen_store.content %></td></tr>
  <tr><td>メニュー</td><td><%= ramen_store.ramen_store_menus.name %></td></tr>
</table>
<% end %>