<% content_for(:title, 'ランキング') %>
<div class="container">
  <div class="pt-4">
    <h4 class="text-center pb-3">通算ランキング</h4>
    <!-- ランキング一覧 -->
    <div class="tabs">
      <input id="score" type="radio" name="tab_item" checked>
      <label class="tab_item" for="score">スコア</label>
      <input id="likes" type="radio" name="tab_item">
      <label class="tab_item" for="likes">お気に入り数</label>
      <input id="review" type="radio" name="tab_item">
      <label class="tab_item" for="review">レビュー数</label>
      <!-- スコアランキング一覧 -->
      <div class="tab_content" id="score_content">
        <div class="tab_content_description">
          <div class="pt-3">
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <% if @store_score_rank.present? %>
                    <%= render @store_score_rank %>
                  <% else %>
                    <%= 'スコアランキングはまだありません' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- いいねランキング一覧 -->
      <div class="tab_content" id="likes_content">
        <div class="tab_content_description">
          <div class="pt-3">
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <% if @store_likes_rank.present? %>
                    <%= render @store_likes_rank %>
                  <% else %>
                    <%= 'いいねランキングはまだありません' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- レビュー数ランキング一覧 -->
      <div class="tab_content" id="review_content">
        <div class="tab_content_description">
          <div class="pt-3">
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <% if @review_rank.present? %>
                    <%= render @review_rank %>
                  <% else %>
                    <%= 'レビュー数ランキングはまだありません' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
