<% content_for(:title, @ramen_store.name) %>
<div class='container'>
  <div class="pt-4 pb-4">
    <% unless current_user.try(:own?, @ramen_store) %>
      <%= render partial: 'likes/like', locals: { ramen_store: @ramen_store } %>
    <% end %>
    <% if current_user.try(:own?, @ramen_store) %>
    <div class="float-right">
      <%= link_to "編集", edit_ramen_store_path, class: "btn btn-success mr-2" %>
      <%= link_to "削除", ramen_store_path, method: :delete, class: "btn btn-danger", data: { confirm: "本当に削除しますか？" } %>
    </div>
    <% else %>
      <%= link_to "レビューする", new_ramen_store_review_path(@ramen_store), class: "btn btn-primary float-right", data: {"turbolinks" => false} %>
    <% end %>
  </div>
  <div class="clearfix pb-2">
    <div class="float-left" ><%= rating_for @ramen_store, 'name', imdb_avg: true, readonly: true %></div>
    <div class="pt-4">
      <h4 class="d-inline"><%= @ramen_store.name %></h4>

    </div>
  </div>
  <!-- 画面左 -->
  <div class="row mt-4">
    <div class="col-md-5">
      <div class="card">
        <%= image_tag @ramen_store.registered_images.first.image.url, class: 'card-img-top thumb' %>
        <div class="card-body">
          <h5 class="card-title"><%= @ramen_store.registered_images.first.name %></h5>
        </div>
      </div>
      <p><%= simple_format(@ramen_store.content) %></p>
    </div>
    <!-- 画面右 -->
    <div class="col-md-7">
      <!--タブ名-->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-controls="home" aria-expanded="true">詳細</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-controls="profile">メニュー</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-controls="profile">写真</a>
        </li>
      </ul>
      <!--タブコンテンツ-->
      <div class="tab-content" id="myTabContent">
      <!-- 店舗詳細 -->
        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="1-tab">
          <table class="table detail-table">
            <tbody>
              <tr>
                <th>電話番号</th>
                <td><%= @ramen_store.phone_number %></td>
              </tr>
              <tr>
                <th>営業時間</th>
                <td><%= @ramen_store.sale %></td>
              </tr>
              <tr>
                <th>定休日</th>
                <td><%= @ramen_store.holiday %></td>
              </tr>
              <tr>
                <th>住所</th>
                <td><%= @ramen_store.prefecture.name %><%= @ramen_store.address %><%= @ramen_store.city %><%= @ramen_store.building %></td>
              </tr>
              <tr>
                <th>席数</th>
                <td><%= @ramen_store.seat %></td>
              </tr>
              <tr>
                <th>アクセス</th>
                <td><%= @ramen_store.access %></td>
              </tr>
              <tr>
                <th>駐車場</th>
                <td><%= @ramen_store.parking_space %></td>
              </tr>
              <tr>
                <th>SNS</th><td><%= @ramen_store.sns %></td>
              </tr>
              <tr>
                <th>タグ</th>
                <td><% @ramen_store.tag_list.each do |tag| %>
                  <span class="badge badge-primary mr-1 mb-1 p-2"><%= link_to tag, ramen_stores_path(tag_name: tag), class: "text-white" %></span><% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- メニュー -->
        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="2-tab">
          <%= render 'store_menu' %>
        </div>
        <!-- 写真 -->
        <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="3-tab">
          <% if @ramen_store.registered_images.present? %>
            <%= render 'store_image' %>
          <% else %>
            <%= '店舗の画像はまだありません' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- レビュー -->
  <% if @ramen_store.reviews %>
    <% @ramen_store.reviews.order(created_at: :desc).each do |review| %>
      <div class="row review">
        <div class="col-md-2">
            <%= link_to user_path(review.user) do %>
              <%= image_tag review.user.image.url, size: '80x80', class: 'rounded-circle' %>
              <p><%= review.user.nickname %>（<%= review.user.sex %>）</p>
            <% end %>
        </div>

        <div class="col-md-6 mb-9">
          <div class="review-content">
            <p><%= review.created_at.to_s(:datetime_jp) %></p>
            <h4 class="mb-3">評価 : <%= Rate.find_by(rater_id: review.user_id, rateable_id: review.ramen_store_id).stars %>点 | <%= review.title %></h4>
            <div class="example">
              <%= image_tag 'mid-star.png'%>
              <p><%= Rate.find_by(rater_id: review.user_id, rateable_id: review.ramen_store_id).stars %></p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="review-img">
            <% if review.images %>
              <%=  image_tag review.images.first.image.url, size: '100x100'  %>
              <p><%=  review.images.first.name %></p>
            <% else %>
              <p>画像は投稿していません</p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>レビューはまだ投稿されていません</p>
  <% end %>
</div>
