<% content_for(:title, @ramen_store.name) %>
<%= link_to "戻る", ramen_stores_path, class: "btn btn-primary" %>
<% if current_user.try(:own?, @ramen_store) %>
  <%= link_to "編集する", edit_ramen_store_path, class: "btn btn-primary" %>
  <%= link_to "削除する", ramen_store_path, method: :delete, class: "btn btn-primary", data: { confirm: "本当に削除しますか？" } %>
<% else %>
  いいね
  <%= render partial: 'likes/like', locals: { ramen_store: @ramen_store } %>
<% end %>


<%= link_to "レビューする", new_ramen_store_review_path(@ramen_store), class: "btn btn-primary float-right", data: {"turbolinks" => false} %>



<div class="row">
  <div class="col-md-4">
    <div class="card">
      <%= image_tag @ramen_store.registered_images.first.image.url, class: 'card-img-top thumb' %>
      <div class="card-body">
        <h5 class="card-title"><%= @ramen_store.registered_images.first.name %></h5>
        <p class="card-text">見出し説明文</p>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="float-left"><%= rating_for @ramen_store, 'name', imdb_avg: true, readonly: true %></div><h4 class="page-title"><%= @ramen_store.name %></h4><p class="float-right">投稿者：<%= @ramen_store.user.nickname %><%= "作成: #{@ramen_store.created_at.to_s(:datetime_jp)} / 更新:  #{@ramen_store.updated_at.to_s(:datetime_jp)}" %></p>
    <table class="table">
      <tbody>
        <tr>
          <th>電話番号</th>
          <td><%= @ramen_store.phone_number %></td>
        </tr>
        <tr>
          <th>営業時間</th>
          <td><%= @ramen_store.sale %></td>
        </tr>
        <tr>
          <th>定休日</th>
          <td><%= @ramen_store.holiday %></td>
        </tr>
      </tbody>
    </table>

    <h4>いいね数 : <%= @ramen_store.likes.count %></h4>
    <% if RatingCache.find_by(cacheable_id: @ramen_store.id) %>
    <h4>点数<%= RatingCache.find_by(cacheable_id: @ramen_store.id).avg %></h4>
    <h4>点数順位<%= RatingCache.select('avg, cacheable_id').order(avg: :desc).distinct %></h4>
    <% end %>
  </div>
</div>

<div class="tabs">
  <input id="all" type="radio" name="tab_item" checked>
  <label class="tab_item" for="all">店舗詳細</label>
  <input id="score" type="radio" name="tab_item">
  <label class="tab_item" for="score">メニュー</label>
  <input id="design" type="radio" name="tab_item">
  <label class="tab_item" for="design">写真</label>
  <!-- スコアランキング一覧 -->
  <div class="tab_content" id="all_content">
    <div class="tab_content_description">
      <div class="pt-3">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <%= render 'store_detail' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- いいねランキング一覧 -->
  <div class="tab_content" id="score_content">
    <div class="tab_content_description">
      <div class="pt-3">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <%= render 'store_menu' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- レビュー数ランキング一覧 -->
  <div class="tab_content" id="design_content">
    <div class="tab_content_description">
      <div class="pt-3">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <% if @ramen_store.registered_images.present? %>
                <%= render 'store_image' %>
              <% else %>
                <%= '店舗の画像はまだありません' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% @ramen_store.reviews.order(created_at: :desc).each do |review| %>
<div class="row">
  <div class="col-md-3">
      <%= link_to user_path(review.user) do %>
        <%= image_tag review.user.image.url, size: '80x80', class: 'rounded-circle' %>
        <p><%= review.user.nickname %><%= review.user.sex %></p>
      <% end %>

  </div>
  <div class="col-md-6 mb-9">
    <div>
      <p><%= review.created_at.to_s(:datetime_jp) %></p>
      <h4 class="mb-3">評価 : <%= Rate.find_by(rater_id: review.user_id, rateable_id: review.ramen_store_id).stars %>点 | <%= review.title %></h4>
    </div>
  </div>
</div>
<% end %>