<%= link_to "戻る", ramen_stores_path, class: "btn btn-primary" %>
<% if current_user.try(:own?, @ramen_store) %>
  <%= link_to "編集する", edit_ramen_store_path, class: "btn btn-primary" %>
  <%= link_to "削除する", ramen_store_path, method: :delete, class: "btn btn-primary", data: { confirm: "本当に削除しますか？" } %>
<% else %>
  いいね
  <%= render partial: 'likes/like', locals: { ramen_store: @ramen_store } %>
<% end %>
：いいね数
<%= @ramen_store.likes.count %>

<%= link_to "レビューする", new_ramen_store_review_path(@ramen_store), class: "btn btn-primary float-right" %>
<%= rating_for @ramen_store, 'name', imdb_avg: true, readonly: true %>
<% content_for(:title, @ramen_store.name) %>
<table class="table table-bordered mt-3", style="table-layout:fixed;width:100%;">
  <tr><th><%= link_to "#{@ramen_store.name}(#{@ramen_store.prefecture.name}#{@ramen_store.city}#{@ramen_store.address}#{@ramen_store.building})", ramen_store_path(@ramen_store) %></th><td><%= "作成: #{@ramen_store.created_at.to_s(:datetime_jp)} / 更新:  #{@ramen_store.updated_at.to_s(:datetime_jp)}" %></td></tr>
  <tr><td>電話番号</td><td><%= @ramen_store.phone_number %></td></tr>
  <tr><td>営業時間</td><td><%= @ramen_store.sale %></td></tr>
  <tr><td>定休日</td><td><%= @ramen_store.holiday %></td></tr>
  <tr><td>席数</td><td><%= @ramen_store.seat %></td></tr>
  <tr><td>アクセス</td><td><%= @ramen_store.access %></td></tr>
  <tr><td>駐車場</td><td><%= @ramen_store.parking_space %></td></tr>
  <tr><td>SNS</td><td><%= @ramen_store.sns %></td></tr>
  <tr><td>説明</td><td><%= simple_format(@ramen_store.content) %></td></tr>
  <tr><th colspan="2">メニュー</th></tr>
  <% @ramen_store.menus.each do |menu|%>
    <tr><td><%= menu.name %></td><td><%= menu.price %></td></tr>
  <% end %>
  <tr><th colspan="2">写真</th></tr>
  <% @ramen_store.registered_images.each do |image|%>
    <% if image.image? %>
      <tr><td><%= image.name %></td>
      <td><%= image_tag image.image.url(:thumb100) %></td></tr>
    <% else %>
      <tr><td colspan="2", class="text-center">写真はまだ投稿されていません</td></tr>
      <% break %>
    <% end %>
  <% end %>
  <tr><td>タグ</td>
  <td><% @ramen_store.tag_list.each do |tag| %>
    <span class="badge badge-primary mr-1 p-2"><%= link_to tag, ramen_stores_path(tag_name: tag), class: "text-white" %></span>
  <% end %></td></tr>
</table>

<% @ramen_store.reviews.each do |review| %>
<table class="table table-bordered mt-3", style="table-layout:fixed;width:100%;">
  <tr><th><%= link_to "#{review.title}", ramen_store_review_path(@ramen_store,review) %></th><td><%= "作成: #{review.created_at.to_s(:datetime_jp)} / 更新:  #{review.updated_at.to_s(:datetime_jp)}" %></td></tr>
</table>
<% end %>