<% content_for(:title, 'マイページ') %>
<div class="container">
  <div class="pt-4">
    <div class="row">
      <div class="col-sm-4">
        <div class="user-border">
          <div class="text-center">
            <%= image_tag @user.image.url(:thumb), class: 'rounded-circle', size: '200x200' %>
            <% if current_user.id == @user.id %>
              <%= link_to "アカウントの情報を変更", edit_user_registration_path, class: "btn btn-primary my-3" %>
            <% end%>
            <p class="font-weight-bold"><%= @user.nickname %></p>
            <hr>
            <p class="font-weight-bold">プロフィール</p>
            <% if @user.profile? %>
              <p><%= @user.profile %></p>
            <% else %>
              <p class="text-muted">プロフィールは設定されていません</p>
            <% end %>
            <hr>
            <p>投稿した店舗 <%= current_user.ramen_stores.count %> 件</p>
            <p>投稿したレビュー <%= current_user.ramen_store_reviews.count %> 件</p>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="nowrap_nav">
          <!--タブ名-->
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#my-page-store-tab" role="tab" aria-controls="home" aria-expanded="true">投稿した店舗</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#my-page-review-tab" role="tab" aria-controls="profile">投稿したレビュー</a>
            </li>
          </ul>
          <!--タブコンテンツ-->
          <div class="tab-content" id="myTabContent">
            <!-- 店舗投稿 -->
            <div class="tab-pane fade show active" id="my-page-store-tab" role="tabpanel" aria-labelledby="1-tab">
              <div class="row">
                <%= render partial: 'ramen_stores/ramen_store', collection: @post_ramen_store %>
              </div>
              <%= paginate @post_ramen_store, :param_name => 'store_page' %>
            </div>
            <!-- レビュー投稿 -->
            <div class="tab-pane fade" id="my-page-review-tab" role="tabpanel" aria-labelledby="2-tab">
              <%= render 'devise/sessions/review', user_reviews: @post_reviews %>
              <%= paginate @post_reviews, :param_name => 'review_page' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
