<!DOCTYPE html>
<html>
  <head>
    <title>Ramen Tour（仮）</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/e1f471f653.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header'%>
    <% unless current_page?("sessions/new") %>
      <%= render 'shared/flash_messages' %>
    <% end %>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
